/* .group {
  display: flex;
  flex-direction: column;
  margin-bottom: 500px;
} */

@media all and (min-width: 600px) {

  body {
    padding: 10px;
  }
} 

  textarea, input {
    width: 800px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  textarea {
    height: 100px;
  }



